doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title ws3c project

    link(rel='stylesheet', type='text/css', href='build/build.css')
    
  style.
    .firstslide {
      background-image: url('images/backdrop.jpg') 
    }
    .lastslide {
      background-image: url('images/startproject.jpg') 
    }

  body

    article
    
      section

      section(data-bespoke-backdrop='firstslide')
        h2 our project idea :)

      section
        h2 What to do?

      section
        img(src="http://bit.ly/1ohSTSJ", width='400', height='270')
     

      section
        h2 What to improve?
        br
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section(data-bespoke-backdrop='lastslide')
        h2 That's it.

    script(src='build/build.js')