doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title ws3c project

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        a(href="http://bazonline.ch/") Redesign baz.ch :)
        br
        h6 Livio Bieri | Marius Küng

      section
        h2 What we do?

      section
        img(src="images/screenshot.png", width='377', height='280')
     

      section
        h2 What we want to improve?
        br
        ul
          li ...
          br
          li Make reponsive.
          li Rethink content.
          li "News overview"

      section
        h2 That's it. Questions?

    script(src='build/build.js')