@import 'global';

.article {

  h1 {
    margin: 20px 0;
  }

  .tags {
    margin: 60px 0 60px;

    a {
      padding: 5px 10px;
      color: #FFF;
      text-decoration: none;
      background-color: $RED;
    }
  }

  .article-meta {
    color: #A1A1A1;
  }

  .socials {
    margin: 20px 0;
    a {
      color: #000;
      font-size: 2em;
      margin-right: 10px;
    }
  }

  .comments-count {
    background-color: $RED;
    border-radius: 100%;
    color: #FFF;
    font-size: 2em;
    padding: 3px 13px 28px 17px;
    width: 20px;
    height: 20px;
  }

  .comments {
    p {
      margin-bottom: 1em;
    }
    .fa-user {
      font-size: 4em;
    }
  }
}
