// global scss
@import '../css/normalize.css';
@import '../css/skeleton.css';

$RED: #cc1c00;

html, body {
  font-family: Helvetica, Arial, sans-serif;
}

.column,
.columns {
  position: relative;
}

.hidden {
  display: none;
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background: #FFF;

  .container {
    width: 100%;
    max-width: none;
    border-bottom: 5px solid #cc1c00;
  }

  .menu {
    right: 0;
    position: absolute;
    z-index: 300;
  }

  .fa-bars {
    color: #000;
    font-size: 3em;
  }

  .columns {
    text-align: center;
  }

  h1 a {
    color: #000;
    text-decoration: none;
  }
}

section {
  padding-top: 85px;

  .article-link {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .one-third, .one-half {
    min-height: 300px;
  }

  .hero {
    height: 500px;
    background-image: url("../images/2156068_pic_970x641.jpg");
    background-size: cover;
  }

  .desc {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    padding: 1%;
    background-color: #FFF;
    opacity: 0.8;
  }

  .news-section {
    color: #FFF;
    background-color: $RED;

    h4 {
      margin: 5px 10px;
    }
  }

  .gallery {
    position: relative;
  }
}

.search {
  position: fixed;
  width: 30%;
  height: 100%;
  top: 85px;
  bottom: 0;
  right: -1000px;
  z-index: 200;
  background-color: $RED;
  padding: 3em 2em;
  text-align: center;

  input {
    margin-bottom: 3em;
  }

  .most-searched {
    text-align: center;
    width: 80%;
    margin: 0 auto;

    a {
      font-size: 1.5em;
      text-decoration: none;
      margin-right: 0.5em;
      color: #FFF;
    }
  }

  .imprint {
    display: inline-block;
    margin-top: 3em;
    color: #FFF;
    font-size: 1.5em;
  }
}


@media (max-width: 1000px) {
  .container {
    width: 100%;
  }
}
